.wrapper {
  width: 100%;
  height: 100%;
  background-color: #2C1F6A;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  padding: 0;
  width: 618px;
  height: 618px;
  display: flex;
  flex-wrap: wrap;
}

img {
  margin: 3px;
  border-radius: 3px;
}